@page "/"

<PageTitle>Ferreter of SPLORR!!</PageTitle>

<table>
	@foreach (var line in context.GetLines())
	{
		<tr>
			<td class="mood-@line.Mood">
				@line.Text
			</td>
		</tr>
	}
	<tr>
		<td>
			@if(context.GetChoices().Any())
			{
				foreach(var choice in context.GetChoices())
				{
					<button @onclick="()=>Choose(choice.Command)">@choice.Text</button><br/>			
				}
			}
			else
			{
				<EditForm Model="@inputModel" OnValidSubmit="HandleSubmit">
					<InputText @bind-Value="@inputModel.Text"/>
					<button type="submit">GO!</button>
				</EditForm>
			}
		</td>
	</tr>
</table>

@code{
	InputModel inputModel = new();
	IUIContext context = new UIContext();
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await context.InitializeAsync();
	}
	void HandleSubmit()
	{
		if(inputModel.Text != null)
		{
			context.HandleCommand(inputModel.Text);
			inputModel.Text = null;
		}
	}
	class InputModel
	{
		public string? Text { get; set; }
	}
	private void Choose(string command)
	{
		context.HandleCommand(command);
	}
}